@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer﻿

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@localizer["titulo"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
